Repository exercism/problem-specifications, pull requests merged in 2022-04, with the labels that each got.

#1991 Add exercise: state-of-tic-tac-toe
  bin/format-array.rb
  exercises/state-of-tic-tac-toe/canonical-data.json
  exercises/state-of-tic-tac-toe/description.md
  exercises/state-of-tic-tac-toe/metadata.toml
Labels: new exercise idea

#2007 Add exercise: killer-sudoku-helper
  bin/format-array.rb
  exercises/killer-sudoku-helper/canonical-data.json
  exercises/killer-sudoku-helper/description.md
  exercises/killer-sudoku-helper/metadata.toml
Labels: new exercise idea

#2012 `state-of-tic-tac-toe`: tweak error nessage and add test case
  exercises/state-of-tic-tac-toe/canonical-data.json
Labels: new test case idea, x:action/improve

#2019 `state-of-tic-tac-toe`: unique descriptions for test cases
  exercises/state-of-tic-tac-toe/canonical-data.json
Labels: x:action/improve, x:module/practice-exercise, x:size/small

#2029 2028-clarify-language-rectangle-exercise
  exercises/rectangles/description.md
Labels: x:size/tiny
